WATCHTOWER_NO_STARTUP_MESSAGE=true       # Disable startup message to reduce discord notifications
WATCHTOWER_CLEANUP=true                  # Delete old images from taking space
WATCHTOWER_DEBUG=false                   # Enable verbose logging
WATCHTOWER_INCLUDE_STOPPED=false         # True will allow Watchtower to monitor and update stopped containers in addition to running containers
WATCHTOWER_REVIVE_STOPPED=false          # This will take those stopped containers and start them once they are updated
WATCHTOWER_POLL_INTERVAL=10800           # Update check interval. Value needs to be in secods CHEATSHEET: 1H = 3600, 3H = 10800, 6H = 21600, 9H = 32400, 12H = 43200, 24H = 86400
WATCHTOWER_LABEL_ENABLE=true             # Enables container updates only if container have following label set to true: com.centurylinklabs.watchtower.enable=true
WATCHTOWER_MONITOR_ONLY=false            # Only monitor for updates and watchtower will not pull new images or update containers
WATCHTOWER_NOTIFICATION_URL="discord://token@webhookid"            # Discord notifications
WATCHTOWER_NOTIFICATION_TEMPLATE="{{range .}}{{.Time.Format \"2006-01-02 15:04:05\"}} ({{.Level}}): {{.Message}}{{println}}{{end}}"         # Default notification format
WATCHTOWER_NOTIFICATIONS_HOSTNAME="Your Machine Name"         # Hostname for notifications